html {
    height: 100%;
}
    
body {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    
}

.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.headerTop img {
    width: 100px;
    height: auto;
}

.headerBottom {
    display: flex;
    padding: 50px;
}

.headerBottom img {
    width: 400px;
    height: auto;
}

.headerTop, .headerBottom, .footer {
    background-color: #1F2937;

       
}

#heroText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.headerLinks a {
    font-size: 18px;
    color: #E5E7EB;
}

button, .blueContainer {
    background-color: #3882F6;
}

.informationHeaderText {
    font-size: 36px;
    font-weight: 900;
    counter-reset: #1F2937;
}

.quoteContainer {
    background-color: #E5E7EB;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.randomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.randomInfoPart {
    display: flex;
    max-width: 800px;
    gap: 20px;
}

.imgAndDescriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 160px;
}

.imgAndDescriptions img {
    width: 160px;
    height: 160px;
    
}

.imgText {
    text-align: center;
}